<div class="top-wrapper">
  <div class="top-inner-text">
    <h1>RUNTEQ GURADUATION APP</h1>
  </div>

  <!-- メイン画像 -->
  <div class="flex justify-center">
    <%= image_tag "top.jpeg", alt: "トップ画像", class: "rounded-xl shadow-lg w-3/4 max-w-3xl" %>
  </div>
</div>